{{set . "title" "สิทธิพงศ์ จึงสกุล Tel: 083-9915593 Email: sittipongwork@gmail.com"}}
{{template "header.html" .}}
<!-- Author: Sittipong Jungsakul
    Tel : 083-9915593 (TH)
    Email : sittipongwork@gmail.com -->
<div class="container background-fixed nopadding">
  <div class="triangle-top"></div>
  <div class="triangle-bottom"></div>
  <div class="resume-container">
    <div class="resume-content">
      {{template "nav.html" .}}
      <div class="row">
        <div class="col-sm-12 col-xs-12 resume-content-header-text"><h1 class="">ข้อมูลส่วนตัว</h1></div>
      </div>
    </div>
  </div>
</div>
<script>
$(window).on('scroll',
	{
	    previousTop: 0
	},
	function () {
	    var currentTop = $(window).scrollTop();
	    //check if user is scrolling up
	    if (currentTop < this.previousTop ) {
	    	//if scrolling up...
	    	//add class 'is-visible' to the main navigation
	    	//if currentTop == 0, remove 'is-fixed' and 'is-visible' classes
	    } else {
	    	//if scrolling down...
	    	//add the 'is-fixed' class to the main navigation as soon as it is no longer visible
	    	//add class 'is-visible' to the main navigation
	    }
	    //set previousTop for the next iteration
	    this.previousTop = currentTop;
	}
);</script>
{{template "footer.html" .}}
