/* Author: Sittipong Jungsakul
    Tel : 083-9915593 (TH)
    Email : sittipongwork@gmail.com */
* {
  font-family: "Kanit", sans-serif !important; }

.nopadding {
  padding: 0;
  margin: 0; }

.background-fixed {
  background-color: white; }

.circle {
  border-radius: 50%; }

.text-center {
  text-align: center; }

.triangle-top {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  position: absolute;
  border-width: 400px 450px 0 0;
  border-color: #007bff transparent transparent transparent; }

.triangle-bottom {
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 400px 450px;
  border-color: transparent transparent #007bff transparent; }

@media only screen and (max-width: 768px) {
  .triangle-top {
    border-width: 200px 250px 0 0; }

  .triangle-bottom {
    border-width: 0 0 200px 250px; } }
.resume-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #00aeff;
  background: -moz-linear-gradient(45deg, #00aeff 0%, #c2399a 76%, #ff147a 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00aeff), color-stop(76%, #c2399a), color-stop(100%, #ff147a));
  background: -webkit-linear-gradient(45deg, #00aeff 0%, #c2399a 76%, #ff147a 100%);
  background: -o-linear-gradient(45deg, #00aeff 0%, #c2399a 76%, #ff147a 100%);
  background: -ms-linear-gradient(45deg, #00aeff 0%, #c2399a 76%, #ff147a 100%);
  background: linear-gradient(45deg, #00aeff 0%, #c2399a 76%, #ff147a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeff', endColorstr='#ff147a', GradientType=1 );
  padding: 40px; }
  .resume-container .resume-container-have-picleft {
    padding-left: 100px;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    background-color: transparent; }
  .resume-container .resume-content {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    padding: 15px;
    background-color: white;
    -webkit-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
    -moz-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
    box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94); }
    .resume-container .resume-content .resume-content-header-text {
      margin-bottom: 15px;
      text-align: center; }
      .resume-container .resume-content .resume-content-header-text h1 {
        font-size: 20px; }
    .resume-container .resume-content .resume-content-video {
      background-color: transparent;
      padding: 0px;
      text-align: center;
      height: 100%;
      vertical-align: middle; }
      .resume-container .resume-content .resume-content-video video {
        width: 100%    !important;
        height: auto   !important;
        -webkit-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
        -moz-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
        box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94); }
    .resume-container .resume-content .resume-content-form {
      padding: 15px;
      padding-top: 30px; }
      .resume-container .resume-content .resume-content-form img {
        width: 200px;
        height: auto   !important;
        margin: 0 auto;
        -webkit-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
        -moz-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
        box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94); }
      .resume-container .resume-content .resume-content-form label {
        font-size: 18px; }
      .resume-container .resume-content .resume-content-form p {
        font-size: 18px; }
      .resume-container .resume-content .resume-content-form h2 {
        font-size: 20px; }
      .resume-container .resume-content .resume-content-form .btn-resume {
        width: 200px;
        margin: 0 auto !important;
        height: 60px;
        color: white;
        border-radius: 60px;
        background-color: #F7438F;
        -webkit-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
        -moz-box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94);
        box-shadow: 2px 1px 36px -4px rgba(122, 122, 122, 0.94); }

@media only screen and (max-width: 768px) {
  .resume-container {
    padding: 15px;
    padding-top: 60px; }

  .resume-content-form {
    padding-top: 15px; } }

/*# sourceMappingURL=resumesj.css.map */
