<!-- Author: Sittipong Jungsakul
    Tel : 083-9915593 (TH)
    Email : sittipongwork@gmail.com -->
<!DOCTYPE html>
<html lang="th">
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/public/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/edbc22490f.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>
    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/css/resumeSJ/resumesj.css">
    <link rel="stylesheet" type="text/css" href="/public/css/MenujQuery.css">

    <script src="/public/js/jquery-2.2.3.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="/public/js/main.js"></script> <!-- Resource jQuery -->
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
