<header class="cd-header">
  <a class="cd-primary-nav-trigger">
    <span class="cd-menu-text">ตัวเลือก</span><span class="cd-menu-icon"></span>
  </a> <!-- cd-primary-nav-trigger -->
</header>
<nav>
  <ul class="cd-primary-nav">
    <li><a class="intro">แนะนำ</a></li>
    <li class="cd-label">ประวัติ</li>
    <li><a class="info">ข้อมูลส่วนตัว</a></li>
    <li><a class="edu">ประวัติการศึกษา</a></li>
    <li><a class="exp">ประสบการณ์</a></li>

    <li class="cd-label">ผลงาน</li>

    <li><a href="#0">เว็ปแอปพลิเคชัน</a></li>

    <li class="cd-label">ติดต่อ</li>

    <li class="cd-social cd-facebook"><a href="#0">Facebook</a></li>
    <li class="cd-social cd-instagram"><a href="#0">Instagram</a></li>
    <li class="cd-social cd-dribbble"><a href="#0">Dribbble</a></li>
    <li class="cd-social cd-twitter"><a href="#0">Twitter</a></li>
  </ul>
</nav>
